@charset "utf-8";

* {
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	background-color: skyblue;
}

.header {
  font-family: Arial, sans-serif;
  font-size: 7.5em;
  background-color: deepskyblue;
  border-top: 1em solid deepskyblue;
  border-bottom: 1em solid deepskyblue;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  color: white;
}
.text {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 3em;
  box-sizing: border-box;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom:2em;	
  position: fixed;
  left: 0;
  top: 400px;
  text-align: center;
  width: 100%;
  z-index: 999;
}